<body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Home",{:controller => 'welcome', :action => 'index'}%></li>
          </ul>
        </nav>
      </div>
    </header>
    <div class="container">
      <%= yield %>
    </div>
  </body>
<center>
<p>
  <strong>Name:</strong>
  <%= @temp.name %> <br/>
  <strong>Village:</strong>
  <%= @temp.village %> <br/>
  <strong>Contact No:</strong>
  <%= @temp.contact_no %> <br/>
  <strong>Status:</strong>
  <%= @var %> <br/>
</p>

</center>